# Add any directories, files, or patterns you don't want to be tracked by version control
Debug/
Release/
*.prefs
bak/
*.lib
*.libs
*.obj
.launches/
*language\.settings\.xml
*.swp
*.o
*.bin
*.elf
*.map
*.DS_Store
tags
info.dox
*_unittest
*.a
.d/
*.bak
Gen/
.idea
.vscode
*.tmp
Cube-Nucleo-Src/build/
Docs/sphinx/build
Bin/
common/Scripts/templates/outputs/
common/Scripts/__pycache__/

*.pyc
*__pycache__*
*_Runner.c
common/tests/build/
common/test-core/cmock/test/system/build
common/test-core/cmock/test/system/generated
*.sublime-project
*.sublime-workspace
common/test-core/cmock/examples/

Lint/
*.ctu-info
*.py[cod]
venv/
dist/
build/
*.egg-info

# Ignore Buildroot files
buildroot-*.*/
host/
target/
images/
staging

beaglebone/os/Makefile
.br2-external*
..config.tmp
.config*

# Cell Tester Log Files
cellTester/CellData
